<section class="row">
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">folder</i>
            <span class="d-block valign-wrapper">..</span>
        </div>
    </div>
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">folder</i>
            <span class="d-block valign-wrapper">dir1</span>
        </div>
    </div>
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">folder</i>
            <span class="d-block valign-wrapper">dir2</span>
        </div>
    </div>
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">insert_drive_file</i>
            <span class="d-block valign-wrapper">file1</span>
        </div>
    </div>
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">insert_drive_file</i>
            <span class="d-block valign-wrapper">file2</span>
        </div>
    </div>
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">insert_drive_file</i>
            <span class="d-block valign-wrapper">file3</span>
        </div>
    </div>
    <div class="col s3 m2">
        <div class="card center-align blue-grey darken-2 hoverable pointer r-12">
            <i class="material-icons medium d-block">insert_drive_file</i>
            <span class="d-block valign-wrapper">file4</span>
        </div>
    </div>

</section>