<div class="fixed-action-btn">
    <a href="#!" class="btn-floating btn-large blue accent-3 waves-effect waves-light">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating teal waves-effect waves-light"><i class="material-icons">file_upload</i></a></li>
        <li><a class="btn-floating amber waves-effect waves-light"><i class="material-icons">create_new_folder</i></a></li>
        <li><a class="btn-floating red waves-effect waves-light"><i class="material-icons">delete</i></a></li>
    </ul>
</div>